<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Projekt beskrivelse her"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Fog - Menu</title>

    <!-- Icon -->
    <link rel="icon" href="/images/logo/fog.svg" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logo/fog.svg">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Script Load -->
    <script src="/js/notification.js" defer></script>
    <script src="/js/AdminMenu/nav-bar.js" defer></script>
    <script src="/js/AdminMenu/priceController.js" defer></script>
    <script src="/js/AdminMenu/CMS/Products.js" defer></script>
    <script src="/js/AdminMenu/CMS/User.js" defer></script>
    <script src="/js/AdminMenu/dropdown.js" defer></script>

    <!-- Framwork load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- Font Awesome Load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="profile-initial">

<!-- Profile Menu Start -->
<section class="profile-menu-visuals">
    <div class="guac-row">

        <!-- Side Menu Start -->
        <div class="guac-col-2 profile-nav">
            <div class="profile-picture-top guac-justify-center guac-align-center">
                <img src="/images/page-content/menu/pp-1.png" alt="Profile picture">
            </div>
            <div class="profile-title">
                <h3>Jonas Larsen</h3>
                <p>Sælger</p>
            </div>
            <div class="profile-buttons">
                <div class="dropdown">
                    <a class="guac-btn guac-btn-profile dropdown-toggle" data-section="brugere">Brugere</a>
                    <div class="dropdown-content">
                        <a class="guac-btn guac-btn-profile" href="#">Søg efter bruger</a>
                        <a class="guac-btn guac-btn-profile" href="#">Tilføj ny bruger</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="guac-btn guac-btn-profile dropdown-toggle" data-section="ordre">Ordre</a>
                    <div class="dropdown-content">
                        <a class="guac-btn guac-btn-profile" href="#">Søg efter ordre</a>
                        <a class="guac-btn guac-btn-profile" href="#">Søg efter brugers ordre</a>
                        <a class="guac-btn guac-btn-profile" href="#">Se alle ordre</a>
                        <a class="guac-btn guac-btn-profile" href="#">Refusion</a>
                        <a class="guac-btn guac-btn-profile" href="#">Retur</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="guac-btn guac-btn-profile dropdown-toggle" data-section="requests">Forespørgelser</a>
                    <div class="dropdown-content">
                        <a class="guac-btn guac-btn-profile" href="#">Søg efter brugers forespørgelse</a>
                        <a class="guac-btn guac-btn-profile" href="#">Se alle forespørgelser</a>
                        <a class="guac-btn guac-btn-profile" href="#">Behandel forespørgelse</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="guac-btn guac-btn-profile dropdown-toggle" data-section="cms">CMS</a>
                    <div class="dropdown-content">
                        <a class="guac-btn guac-btn-profile" href="#">Gebyre</a>
                        <a class="guac-btn guac-btn-profile" href="#">Administrer produkter</a>
                        <a class="guac-btn guac-btn-profile" href="#">Tilføj produkt</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="guac-btn guac-btn-profile dropdown-toggle" data-section="catalog">Katalog</a>
                    <div class="dropdown-content">
                        <a class="guac-btn guac-btn-profile" href="#">Prisliste</a>
                        <a class="guac-btn guac-btn-profile" href="#">Søg</a>
                    </div>
                </div>
            </div>
            <div class="profile-end-logo guac-justify-center guac-align-center">
                <img src="/images/logo/fog.svg" alt="FOG Logo" class="fog-logo-medium">
            </div>
        </div>
        <!-- Side Menu End -->

        <!-- ____________________________________________________________________ -->

        <!-- "Brugere" Content Start -->
        <div class="guac-col-auto profile-actual" id="brugere">

            <!--  Content Section -->
            <div class="content-section" id="searchForUserAdmin">
                <h2>Søg efter bruger</h2>
                <p>Indtast brugerens ID og/eller brugernavn:</p>
                <form class="guac-row input-group" id="CMSuserSearch">
                    <div class="guac-col">
                        <label>ID</label>
                        <input type="text" name="id" placeholder="1...">
                    </div>
                    <div class="guac-col">
                        <label>Brugernavn</label>
                        <input type="text" name="username" placeholder="Employee...">
                    </div>
                    <div class="guac-col">
                        <label>Rolle ID</label>
                        <input type="text" name="role" placeholder="1...">
                    </div>
                </form>

                <div id="CMSsearchUser"></div>


                <div class="order-nav-row">
                    <button type="submit" class="guac-btn action-btn" id="searchUserbtn">Søg bruger</button>
                    <button type="button" id="prevCMSUsers" class="guac-btn action-btn" style="display:none">Forrige</button>
                    <button type="button" id="nextCMSUsers" class="guac-btn action-btn" style="display:none">Næste</button>
                </div>

            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="addNewUserAdmin">
                <h2>Tilføj ny bruger</h2>
                <p>Udfyld oplysninger for at oprette en ny bruger:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label >Brugernavn</label>
                        <input type="text" name="username" placeholder="Brugernavn...">
                    </div>
                    <div class="guac-col">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Password...">
                    </div>
                    <div class="guac-col">
                        <label>rolle ID</label>
                        <input type="email" name="role" placeholder="1...">
                    </div>
                </div>
                <button type="button" id= "createUser" class="guac-btn action-btn">Opret bruger</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider"> <!-- Important to have in the end for sticky UI feel -->

        </div>
        <!-- "Brugere" Content End -->

        <!-- ____________________________________________________________________ -->

        <!-- "ordre" Content Start -->
        <div class="guac-col-auto profile-actual" id="ordre" style="display:none;">

            <!--  Content Section -->
            <div class="content-section" id="searchOrderSection">
                <h2>Søg efter ordre</h2>
                <p>Indtast dine oplysninger herunder:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Ordre ID</label>
                        <input type="text" id="orderIdInput" placeholder="41414...">
                    </div>
                </div>

                <div id="orderResult"></div>

                <div class="guac-pt-2">
                    <button type="button" class="guac-btn action-btn" id="searchOrderBtn">Søg efter ordre</button>
                    <button type="button" class="guac-btn action-btn" id="hideOrderBtn" style="display:none;" >Skjul ordre</button>
                </div>

            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="searchOrderAdmin">
                <h2>Søg efter brugers ordre</h2>
                <p>Indtast brugerens tlf nr, email eller fulde navn:</p>

                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label >Fulde navn</label>
                        <input type="text" name="name" placeholder="Andreas Rovelt...">
                    </div>
                    <div class="guac-col">
                        <label>Telefon nr</label>
                        <input type="number" name="phone" placeholder="20202020...">
                    </div>
                    <div class="guac-col">
                        <label >email</label>
                        <input type="email" name="email" placeholder="test@test.com...">
                    </div>
                </div>


                <div id="userOrdersContainer"></div>

                <div class="order-nav-row">
                    <button type="button" class="guac-btn action-btn" id="searchUserOrdersBtn">Søg ordrer</button>
                    <button type="button" class="guac-btn action-btn" id="hideUserOrdersBtn" style="display:none;">Skjul ordrer</button>

                    <div id="userNextAndPrevNav" style="display:none;">
                        <button id="prevUserOrderBtn" class="guac-btn action-btn">Forrige ordre</button>
                        <button id="nextUserOrderBtn" class="guac-btn action-btn">Næste ordre</button>
                    </div>
                </div>


            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="seeAllOrdersAdmin">
                <h2>Se alle ordre</h2>
                <p>Her kan du se alle ordre</p>

                <div id="ShowAllOrdersContainer"></div>

                <div class="order-nav-row">
                    <button type="button" class="guac-btn action-btn" id="ShowAllOrdersBtn">Søg ordrer</button>
                    <button type="button" class="guac-btn action-btn" id="hideAllOrdersBtn" style="display:none;">Skjul ordrer</button>

                    <div id="ShowAllNextAndPrevNav" style="display:none;">
                        <button id="prevShowAllOrderBtn" class="guac-btn action-btn">Forrige ordre</button>
                        <button id="nextShowAllOrderBtn" class="guac-btn action-btn">Næste ordre</button>
                    </div>
                </div>

            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="refundAdmin">
                <h2>Refusion</h2>
                <p>Behandl refusionsanmodninger her:</p>
                <button type="button" class="guac-btn action-btn">Start refusion</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="returnAdmin">
                <h2>Retur</h2>
                <p>Administrér returordrer:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Retur ID</label>
                        <input type="text" id="returnIdInput" placeholder="123...">
                    </div>
                </div>

                <div id="returnContainer"></div>

                <div class="order-nav-row">
                    <button type="button" class="guac-btn action-btn" id="searchReturnBtn">Søg retur</button>
                    <button type="button" class="guac-btn action-btn" id="showAllReturnsBtn">Vis alle returneringer</button>
                    <button type="button" class="guac-btn action-btn" id="hideReturnsBtn" style="display:none;">Skjul</button>
                    <div id="returnNav" style="display:none;">
                        <button id="prevReturnBtn" class="guac-btn action-btn">Forrige</button>
                        <button id="nextReturnBtn" class="guac-btn action-btn">Næste</button>
                    </div>
                </div>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

        </div>
        <!-- "Ordre" Content End -->

        <!-- ____________________________________________________________________ -->

        <!-- "Requests" Content Start -->
        <div class="guac-col-auto profile-actual" id="requests" style="display:none;">

            <!--  Content Section -->
            <div class="content-section" id="searchRequest">
                <h2>Søg efter indsendt tilbud</h2>
                <p>Indtast Navn, telefonnr eller Email:</p>
                <form class="guac-row input-group">
                    <div class="guac-col">
                        <label>Navn</label>
                        <input type="text" name="id" placeholder="Andreas Rovelt...">
                    </div>
                    <div class="guac-col">
                        <label>Telefon nummer</label>
                        <input type="number" name="phone" placeholder="20202020...">
                    </div>
                    <div class="guac-col">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="test@test.com...">
                    </div>
                </form>

                <div id="searchRequestResults"></div>


                <div class="order-nav-row">
                    <button type="submit" class="guac-btn action-btn" id="searchRequestbtn">Søg</button>
                    <button type="button" id="prevRequest" class="guac-btn action-btn" style="display:none">Forrige</button>
                    <button type="button" id="nextRequest" class="guac-btn action-btn" style="display:none">Næste</button>
                </div>

            </div>
            <!--  Content Section -->

            <hr class="section-divider"> <!-- Important to have in the end for sticky UI feel -->

        </div>
        <!-- "Brugere" Content End -->

        <!-- ____________________________________________________________________ -->

        <!-- "cms" Content Start -->
        <div class="guac-col-auto profile-actual" id="cms" style="display:none;">

            <!--  Content Section -->
            <div class="content-section" id="updateDeliveryPricesAdmin">
                <h2>Opdater leveringspriser</h2>
                <p>Udfyld oplysningerne herunder:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Leveringsmetode</label>
                        <input type="text" placeholder="Fx GLS...">
                    </div>
                    <div class="guac-col">
                        <label>Ny pris</label>
                        <input type="text" placeholder="Ny pris...">
                    </div>
                    <div class="guac-col">
                        <label>Godkendelse</label>
                        <input type="text" placeholder="Skriv dit brugernavn...">
                    </div>
                </div>
                <button type="button" class="guac-btn action-btn">Opdater</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="CMSsearchProduct">
                <h2>Søg efter produkt</h2>
                <p>Indtast varenr, Navn eller Mål</p>

                <form class="guac-row input-group" id="CMSSearchProductForm">
                    <div class="guac-col">
                        <label >Varenr</label>
                        <input type="number" name="serialnumber" placeholder="1...">
                    </div>
                    <div class="guac-col">
                        <label>Navn</label>
                        <input type="text" name="title" placeholder="Skrue...">
                    </div>
                    <div class="guac-col">
                        <label >Mål</label>
                        <input type="text" name="size" placeholder="50cm...">
                    </div>
                </form>


                <div id="CMSproductResults"></div>


                <div class="order-nav-row">
                    <button type="submit" class="guac-btn action-btn" id="CMSsearchbtn">Søg</button>
                    <button type="button" id="prevCMSProduct" class="guac-btn action-btn" style="display:none">Forrige</button>
                    <button type="button" id="nextCMSProduct" class="guac-btn action-btn" style="display:none">Næste</button>
                </div>


            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="CMSNewProduct">
                <h2>Tilføj et nyt produkt</h2>
                <p>Udfyld oplysninger for at oprette et nyt produkt!:</p>
                <form class="guac-row input-group" id="addNewProduct">
                    <div class="guac-col">
                        <label >Navn</label>
                        <input type="text" name="title" placeholder="Skrue...">
                    </div>
                    <div class="guac-col">
                        <label>Beskrivelse</label>
                        <input type="text" name="description" placeholder="Dette er en skrue...">
                    </div>
                    <div class="guac-col">
                        <label>Mål</label>
                        <input type="text" name="size" placeholder="50x25cm...">
                    </div>
                    <div class="guac-col">
                        <label>Antal</label>
                        <input type="number" name="quantity" placeholder="25...">
                    </div>
                    <div class="guac-col">
                        <label>Pris</label>
                        <input type="number" name="price" placeholder="100...">
                    </div>
                </form>
                <button type="button" id= "createNewProduct" class="guac-btn action-btn">Opret nyt produkt</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

        </div>
        <!-- "cms" Content End -->

        <!-- ____________________________________________________________________ -->

        <!-- "Katalog" Content Start -->
        <div class="guac-col-auto profile-actual" id="catalog" style="display:none;">

            <!--  Content Section -->
            <div class="content-section" id="showCatalog">
                <h2>Prisliste</h2>
                <p>Her kan du se alle produkterne</p>

                <div id="showCatalogResult" class="catalogStyle"></div>


                <div class="order-nav-row">
                    <button type="submit" class="guac-btn action-btn" id="ShowAllProductsBtn">Vis katalog</button>
                    <button type="button" id="prevCatalog" class="guac-btn action-btn" style="display:none">Forrige</button>
                    <button type="button" id="nextCatalog" class="guac-btn action-btn" style="display:none">Næste</button>
                </div>


            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="searchProduct">
                <h2>Søg efter produkt</h2>
                <p>Indtast varenr, Navn eller Mål</p>

                <form class="guac-row input-group" id="searchProductForm">
                    <div class="guac-col">
                        <label >Varenr</label>
                        <input type="number" name="serialnumber" placeholder="1...">
                    </div>
                    <div class="guac-col">
                        <label>Navn</label>
                        <input type="text" name="title" placeholder="Skrue...">
                    </div>
                    <div class="guac-col">
                        <label >Mål</label>
                        <input type="text" name="size" placeholder="50cm...">
                    </div>
                </form>


                <div id="productResults"></div>


                <div class="order-nav-row" id="searchNavigation">
                    <button type="submit" class="guac-btn action-btn" id="ShowProductsBtn">Søg</button>
                    <button type="button" id="hideSearchResults" class="guac-btn action-btn" style="display:none">Skjul</button>
                    <button type="button" id="prevProduct" class="guac-btn action-btn" style="display:none">Forrige</button>
                    <button type="button" id="nextProduct" class="guac-btn action-btn" style="display:none">Næste</button>
                </div>


            </div>
            <!--  Content Section -->

            <hr class="section-divider">

        </div>
        <!-- "Ordre" Content End -->

    </div>
</section>
<!-- Profile Menu End -->

<!-- Notification -->
<div id="guac-notification-container"></div>
<!-- Notification -->

</body>
</html>