<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Projekt beskrivelse her"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Fog - Menu</title>

    <!-- Icon -->
    <link rel="icon" href="/images/logo/fog.svg" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logo/fog.svg">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Script Load -->
    <script src="/js/notification.js" defer></script>
    <script src="/js/AdminMenu/nav-bar.js" defer></script>
    <script src="/js/AdminMenu/priceController.js" defer></script>
    <script src="/js/AdminMenu/CMS/Products.js" defer></script>
    <script src="/js/AdminMenu/CMS/User.js" defer></script>
    <script src="/js/admin-menu.js" defer></script>
    <script src="/js/AdminMenu/dropdown.js" defer></script>

    <!-- Framwork load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- Font Awesome Load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="profile-initial">

<!-- Profile Menu Start -->
<section class="profile-menu-visuals">
    <div class="guac-row">

        <!-- Side Menu Start -->
        <div class="guac-col-2 profile-nav">
            <div class="profile-picture-top guac-justify-center guac-align-center">
                <img src="/images/page-content/menu/pp-1.png" alt="Profile picture">
            </div>
            <div class="profile-title">
                <h3>Jonas Larsen</h3>
                <p>Sælger</p>
            </div>
            <div class="profile-buttons">
                <div class="dropdown">
                    <a class="guac-btn guac-btn-profile dropdown-toggle" data-section="brugere">Brugere</a>
                    <div class="dropdown-content">
                        <a class="guac-btn guac-btn-profile" href="#">Test</a>
                        <a class="guac-btn guac-btn-profile" href="#">Test</a>
                        <a class="guac-btn guac-btn-profile" href="#">Test</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="guac-btn guac-btn-profile dropdown-toggle" data-section="ordre">Ordre</a>
                    <div class="dropdown-content">
                        <a class="guac-btn guac-btn-profile" href="#">Test</a>
                        <a class="guac-btn guac-btn-profile" href="#">Test</a>
                        <a class="guac-btn guac-btn-profile" href="#">Test</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="guac-btn guac-btn-profile dropdown-toggle" data-section="cms">CMS</a>
                    <div class="dropdown-content">
                        <a class="guac-btn guac-btn-profile" href="#">Test</a>
                        <a class="guac-btn guac-btn-profile" href="#">Test</a>
                        <a class="guac-btn guac-btn-profile" href="#">Test</a>
                    </div>
                </div>
            </div>
            <div class="profile-end-logo guac-justify-center guac-align-center">
                <img src="/images/logo/fog.svg" alt="FOG Logo" class="fog-logo-medium">
            </div>
        </div>
        <!-- Side Menu End -->

        <!-- ____________________________________________________________________ -->

        <!-- "Brugere" Content Start -->
        <div class="guac-col-auto profile-actual" id="brugere">

            <!--  Content Section -->
            <div class="content-section" id="searchForUserAdmin">
                <h2>Søg efter bruger</h2>
                <p>Indtast brugerens ID og/eller brugernavn:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label for="searchuser-id">ID</label>
                        <input type="text" id="searchuser-id" placeholder="41414...">
                    </div>
                    <div class="guac-col">
                        <label for="searchusername">Brugernavn</label>
                        <input type="text" id = "searchusername" placeholder="Diddy69...">
                    </div>
                    <div class="guac-col">
                        <label>email</label>
                        <input type="email" id = "searchEmail" placeholder="narko@narko.dk">
                    </div>
                </div>

                <div id="searchUser"></div>

                <div class="order-nav-row">
                    <button type="button" class="guac-btn action-btn" id="searchUserbtn">Søg bruger</button>
                    <button type="button" class="guac-btn action-btn" id="hideUserBtn" style="display:none;">Skjul</button>
                </div>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="addNewUserAdmin">
                <h2>Tilføj ny bruger</h2>
                <p>Udfyld oplysninger for at oprette en ny bruger:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label for="createuser-username">Brugernavn</label>
                        <input type="text" id="createuser-username" placeholder="Brugernavn...">
                    </div>
                    <div class="guac-col">
                        <label>Password</label>
                        <input type="password" id="createuser-password" placeholder="Password...">
                    </div>
                    <div class="guac-col">
                        <label for="createuser-email">Email</label>
                        <input type="email" id="createuser-email" placeholder="Email...">
                    </div>
                </div>
                <button type="button" id= "createUser" class="guac-btn action-btn">Opret bruger</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="deleteUserAdmin">
                <h2>Fjern bruger</h2>
                <p>Udfyld oplysninger for at fjerne en bruger:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Brugernavn</label>
                        <input type="text" id="deleteuser-username" placeholder="Brugernavn...">
                    </div>
                    <div class="guac-col">
                        <label>Email</label>
                        <input type="email" id="deleteuser-email" placeholder="Email...">
                    </div>
                    <div class="guac-col">
                        <label>ID</label>
                        <input type="text" id="deleteuser-id" placeholder="ID...">
                    </div>
                </div>
                <button type="button" id="deleteUser" class="guac-btn action-btn">Fjern bruger</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider"> <!-- Important to have in the end for sticky UI feel -->

            <!--  Content Section -->
            <div class="content-section" id="addMoneyAdmin">
                <h2>Tilføj beløb</h2>
                <p>Udfyld oplysninger for at tilføje et beløb:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Brugernavn</label>
                        <input type="text" id="usernameInput" placeholder="Brugernavn...">
                    </div>
                    <div class="guac-col">
                        <label>ID</label>
                        <input type="text" id="idInput" placeholder="ID...">
                    </div>
                    <div class="guac-col">
                        <label>Beløb</label>
                        <input type="text" id="amountInput" placeholder="Beløb...">
                    </div>
                </div>
                <button type="button" id="addBalanceBtn" class="guac-btn action-btn">Tilføj beløb</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider"> <!-- Important to have in the end for sticky UI feel -->

        </div>
        <!-- "Brugere" Content End -->

        <!-- ____________________________________________________________________ -->

        <!-- "ordre" Content Start -->
        <div class="guac-col-auto profile-actual" id="ordre" style="display:none;">

            <!--  Content Section -->
            <div class="content-section" id="searchOrderSection">
                <h2>Søg efter ordre</h2>
                <p>Indtast dine oplysninger herunder:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Ordre ID</label>
                        <input type="text" id="orderIdInput" placeholder="41414...">
                    </div>
                </div>

                <div id="orderResult"></div>

                <div class="guac-pt-2">
                    <button type="button" class="guac-btn action-btn" id="searchOrderBtn">Søg efter ordre</button>
                    <button type="button" class="guac-btn action-btn" id="hideOrderBtn" style="display:none;" >Skjul ordre</button>
                </div>

            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="searchOrderAdmin">
                <h2>Søg efter brugers ordre</h2>
                <p>Indtast brugerens ID, brugernavn eller e-mail:</p>

                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label for="searchOrderAdminUserId">ID</label>
                        <input type="text" id="searchOrderAdminUserId" placeholder="41414...">
                    </div>
                    <div class="guac-col">
                        <label for="searchOrderAdminUsername">Brugernavn</label>
                        <input type="text" id="searchOrderAdminUsername" placeholder="Diddy69...">
                    </div>
                    <div class="guac-col">
                        <input type="email" id="searchOrderAdminEmail" placeholder="narko@narko.dk">
                    </div>
                </div>


                <div id="userOrdersContainer"></div>

                <div class="order-nav-row">
                    <button type="button" class="guac-btn action-btn" id="searchUserOrdersBtn">Søg ordrer</button>
                    <button type="button" class="guac-btn action-btn" id="hideUserOrdersBtn" style="display:none;">Skjul ordrer</button>

                    <div id="userNextAndPrevNav" style="display:none;">
                        <button id="prevUserOrderBtn" class="guac-btn action-btn">Forrige ordre</button>
                        <button id="nextUserOrderBtn" class="guac-btn action-btn">Næste ordre</button>
                    </div>
                </div>


            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="updateDeleteOrderAdmin">
                <h2>Opdater / slet ordre for bruger</h2>
                <p>Indtast brugerens ID og/eller brugernavn:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>ID</label>
                        <input type="text"  placeholder="41414...">
                    </div>
                    <div class="guac-col">
                        <label>Brugernavn</label>
                        <input type="text" placeholder="Diddy69...">
                    </div>
                    <div class="guac-col">
                        <label>email</label>
                        <input type="email" placeholder="narko@narko.dk">
                    </div>
                </div>
                <div id="updateDeleteOrderContainer"></div>

                <div class="order-nav-row">
                    <button type="button" class="guac-btn action-btn" id="searchManageOrderBtn">Søg ordre</button>
                    <button type="button" class="guac-btn action-btn" id="hideManageOrderBtn" style="display:none;">Skjul</button>
                    <div id="manageOrderNextPrev" style="display:none;">
                        <button id="prevManageOrderBtn" class="guac-btn action-btn">Forrige</button>
                        <button id="nextManageOrderBtn" class="guac-btn action-btn">Næste</button>
                    </div>
                </div>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="seeAllOrdersAdmin">
                <h2>Se alle ordre</h2>
                <p>Her kan du se alle ordre</p>

                <div id="ShowAllOrdersContainer"></div>

                <div class="order-nav-row">
                    <button type="button" class="guac-btn action-btn" id="ShowAllOrdersBtn">Søg ordrer</button>
                    <button type="button" class="guac-btn action-btn" id="hideAllOrdersBtn" style="display:none;">Skjul ordrer</button>

                    <div id="ShowAllNextAndPrevNav" style="display:none;">
                        <button id="prevShowAllOrderBtn" class="guac-btn action-btn">Forrige ordre</button>
                        <button id="nextShowAllOrderBtn" class="guac-btn action-btn">Næste ordre</button>
                    </div>
                </div>

            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="refundAdmin">
                <h2>Refusion</h2>
                <p>Behandl refusionsanmodninger her:</p>
                <button type="button" class="guac-btn action-btn">Start refusion</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="returnAdmin">
                <h2>Retur</h2>
                <p>Administrér returordrer:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Retur ID</label>
                        <input type="text" id="returnIdInput" placeholder="123...">
                    </div>
                </div>

                <div id="returnContainer"></div>

                <div class="order-nav-row">
                    <button type="button" class="guac-btn action-btn" id="searchReturnBtn">Søg retur</button>
                    <button type="button" class="guac-btn action-btn" id="showAllReturnsBtn">Vis alle returneringer</button>
                    <button type="button" class="guac-btn action-btn" id="hideReturnsBtn" style="display:none;">Skjul</button>
                    <div id="returnNav" style="display:none;">
                        <button id="prevReturnBtn" class="guac-btn action-btn">Forrige</button>
                        <button id="nextReturnBtn" class="guac-btn action-btn">Næste</button>
                    </div>
                </div>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

        </div>
        <!-- "Ordre" Content End -->

        <!-- ____________________________________________________________________ -->

        <!-- "cms" Content Start -->
        <div class="guac-col-auto profile-actual" id="cms" style="display:none;">

            <!--  Content Section -->
            <div class="content-section" id="updateDeliveryPricesAdmin">
                <h2>Opdater leveringspriser</h2>
                <p>Udfyld oplysningerne herunder:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Leveringsmetode</label>
                        <input type="text" placeholder="Fx GLS...">
                    </div>
                    <div class="guac-col">
                        <label>Ny pris</label>
                        <input type="text" placeholder="Ny pris...">
                    </div>
                    <div class="guac-col">
                        <label>Godkendelse</label>
                        <input type="text" placeholder="Skriv dit brugernavn...">
                    </div>
                </div>
                <button type="button" class="guac-btn action-btn">Opdater</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="updateCupcakePricesAdmin">
                <h2>Opdater cupcake pris</h2>
                <p>Udfyld oplysningerne herunder:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Cupcake</label>
                        <input type="text" placeholder="Jordbærcupcake...">
                    </div>
                    <div class="guac-col">
                        <label>ID</label>
                        <input type="text" placeholder="ID...">
                    </div>
                    <div class="guac-col">
                        <label>Ny pris</label>
                        <input type="text" placeholder="Ny pris...">
                    </div>
                    <div class="guac-col">
                        <label>Godkendelse</label>
                        <input type="text" placeholder="Skriv dit brugernavn...">
                    </div>
                </div>
                <button type="button" class="guac-btn action-btn">Opdater</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

            <!--  Content Section -->
            <div class="content-section" id="createDiscountCodeAdmin">
                <h2>Opret rabatkode</h2>
                <p>Udfyld oplysningerne herunder:</p>
                <div class="guac-row input-group">
                    <div class="guac-col">
                        <label>Rabatkode</label>
                        <input type="text" placeholder="5001-5055-6CUP-CAKE...">
                    </div>
                    <div class="guac-col">
                        <label>Rabat</label>
                        <input type="text" placeholder="Rabat (0-100)...">
                    </div>
                    <div class="guac-col">
                        <label>Godkendelse</label>
                        <input type="text" placeholder="Skriv dit brugernavn...">
                    </div>
                </div>
                <button type="button" class="guac-btn action-btn">Opret</button>
            </div>
            <!--  Content Section -->

            <hr class="section-divider">

        </div>
        <!-- "cms" Content End -->

    </div>
</section>
<!-- Profile Menu End -->

<!-- Notification -->
<div id="guac-notification-container"></div>
<!-- Notification -->

</body>
</html>