<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Beregn prisen på din carport i dag på få minutter"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Fog - Beregner</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Lato:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Nunito:wght@400;700&family=Work+Sans:wght@400;700&family=Exo+2:wght@400;700&family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="icon" href="/images/logo/fog.svg" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logo/fog.svg">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Script Load -->
    <script src="/js/notification.js" defer></script>
    <script src="/js/dynamic-text.js" defer></script>
    <script src="/js/button-to-top.js" defer></script>
    <script src="/js/slideshow.js" defer></script>

    <!-- Framwork load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- Font Awesome Load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Modules -->
    <script type="module" src="/js/components/navbar2.js" defer></script>

</head>
<body>

<!-- Navbar -->
<div id="navbar2-component"></div>
<!-- Navbar -->

<!-- Generic Error Page -->
<section class="error-section">
    <div class="guac-container">
        <h2 th:text="${errorTitle}">Fejl</h2>
        <p th:text="${errorMessage}">Noget gik galt.</p>
        <a href="/" class="guac-btn-error">Til Forsiden</a>
    </div>
</section>
<!-- Generic Error Page -->

<!-- Notifications -->
<div id="guac-notification-container"></div>
<!-- Notifications -->

</body>
</html>