<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Beregn prisen på din carport i dag på få minutter"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Fog - Modtag tilbud</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Lato:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Nunito:wght@400;700&family=Work+Sans:wght@400;700&family=Exo+2:wght@400;700&family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="icon" href="/images/logo/fog.svg" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logo/fog.svg">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Script Load -->
    <script src="/js/notification.js" defer></script>
    <script src="/js/dynamic-text.js" defer></script>
    <script src="/js/button-to-top.js" defer></script>

    <!-- Framwork load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- Font Awesome Load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Modules -->
    <script type="module" src="/js/components/navbar2.js" defer></script>

</head>
<body>

<!-- Navbar -->
<div id="navbar2-component" data-backlink="/beregn/app"></div>
<!-- Navbar -->

<!-- Modtag Start -->
<section class="section-2" id="modtag">
    <div class="guac-container guac-pt-5 guac-pb-5">

        <!-- Information -->
        <div class="modtag-info">
            <p>Overblik</p>
            <h2>Overblik for din carport</h2>
            <p><a href="#" class="modtag-download-link">(Download .pdf)</a></p>
        </div>

        <div class="guac-row guac-gap-5 guac-mt-4 guac-justify-end">

            <!-- Left Column - Form -->
            <div class="guac-col-7 guac-animate guac-slide-left">
                <div class="guac-card modtag-card-form">
                    <h2 class="guac-card-title">Kontaktoplysninger</h2>
                    <p class="card-p-dotted"></p>

                    <!-- Form -->
                    <form class="modtag-form">
                        <div class="guac-row guac-gap-2 guac-mb-3 guac-justify-center">
                            <div class="guac-col-5">
                                <div>
                                    <label class="modtag-label guac-mb-1">Fornavn(e)</label>
                                    <input type="text" class="modtag-input guac-w-100" value="Bo">
                                </div>
                            </div>
                            <div class="guac-col-5">
                                <div>
                                    <label class="modtag-label guac-mb-1">Efternavn</label>
                                    <input type="text" class="modtag-input guac-w-100" value="Leif">
                                </div>
                            </div>
                        </div>

                        <div class="guac-row guac-gap-2 guac-mb-4 guac-justify-center">
                            <div class="guac-col-5">
                                <div>
                                    <label class="modtag-label guac-mb-1">Email</label>
                                    <input type="email" class="modtag-input guac-w-100" value="bo@leif.dk">
                                </div>
                            </div>
                            <div class="guac-col-5">
                                <div>
                                    <label class="modtag-label guac-mb-1">Tlf. nr.</label>
                                    <input type="tel" class="modtag-input guac-w-100" value="25 69 64 20">
                                </div>
                            </div>
                        </div>

                        <!-- Button / Terms -->
                        <div class="guac-d-flex guac-justify-center guac-align-center guac-gap-3 guac-flex-wrap">

                           <!-- hmmm hvad ska stå øverst? finder vi ud af på et tidspunkt;) -->
                            <a href="#" class="modtag-terms-link">Læs mere om vores vilkår og hvordan vi behandler dine oplysninger</a>
                            <a href="#" class="guac-btn guac-btn-fog">Modtag tilbud</a>

                        </div>
                    </form>
                </div>
            </div>
            
            <!-- Reusme area -->
            <div class="guac-col-7 guac-animate guac-slide-right">

                <div class="guac-card">
                    <h2 class="guac-card-title">Resumé</h2>
                    <p class="card-p-dotted"></p>
                    <p><strong>Model:</strong> Carport</p>
                    <p><strong>Mål:</strong> 320 x 600 cm</p>
                    <p><strong>Træ:</strong> Trykimprægneret</p>
                    <p><strong>Tag:</strong> Plast</p>
                    <p><strong>Kontakt:</strong> 12 34 56 78</p>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- Modtag End -->

<!-- Notifications -->
<div id="guac-notification-container"></div>
<!-- Notifications -->

</body>
</html>
