<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Beregn prisen på din carport i dag på få minutter"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>Fog - Tilbud</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Montserrat:wght@400;700&family=Lato:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Nunito:wght@400;700&family=Work+Sans:wght@400;700&family=Exo+2:wght@400;700&family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="icon" href="/images/logo/fog.svg" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logo/fog.svg">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Script Load -->
    <script src="/js/notification.js" defer></script>
    <script src="/js/bubble-spawn.js" defer></script>
    <script src="/js/tilbud/tilbud.js" defer></script>
    <script src="/js/tilbud/update-price.js" defer></script>

    <!-- Framwork load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <script src="/js/guacamoleboy-wow.js" defer></script>

    <!-- Font Awesome Load -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

<!-- Tilbud Section Start -->
<section class="section-tilbud" id="s-tilbud">
    <div class="guac-container guac-align-center guac-justify-center">

        <!-- Intro Box -->
        <div class="tilbud-box-top guac-text-center">

            <!-- Fog Logo -->
            <div class="fog-logo-tilbud">
                <img src="/images/logo/fog.svg" alt="FOG Logo" class="fog-logo-small">
            </div>

            <!-- Corner dots -->
            <div class="visual-dot1-tilbud"></div>
            <div class="visual-dot2-tilbud"></div>

            <!-- Intro Text -->
            <p>#<span th:text="${orderId}"></span></p>
            <h2>Carport Tilbud</h2>
            <p>Se, rediger & afsend tilbud her</p>

            <!-- Wave -->
            <div class="tilbud-wave">
                <img src="images/svg/tilbud-wave-top.svg">
            </div>

        </div>
        <!-- Intro Box -->

        <!-- Fortjeneste -->
        <div class="tilbud-box-bottom guac-text-center">
            <p>Step 1</p>
            <h2>Fortjeneste</h2>
            <p>Normal avanace er 25%</p>

            <!-- Input Row -->
            <div class="guac-row">
                <div class="guac-col-6">
                    <p>Pris</p>
                    <input type="text" id="tilbud-pris" th:value="${total}" class="tilbud-input-field" readonly>
                </div>

                <div class="guac-col-6">
                    <p>Avance</p>
                    <select id="tilbud-avance" class="tilbud-input-field">
                        <option value="" disabled selected hidden>Vælg avance</option>
                        <option value="5">5%</option>
                        <option value="10">10%</option>
                        <option value="15">15%</option>
                        <option value="20">20%</option>
                        <option value="25">25%</option>
                        <option value="30">30%</option>
                        <option value="35">35%</option>
                    </select>
                </div>

            </div>

            <div class="guac-row">
                <div class="guac-col-6">
                    <p>Levering</p>
                    <input type="text" id="tilbud-levering" value="2500" class="tilbud-input-field">
                </div>

                <div class="guac-col-6">
                    <p>Type</p>
                    <select id="tilbud-type" class="tilbud-input-field">
                        <option value="" disabled selected hidden>Vælg type</option>
                        <option value="FAST">Fast</option>
                        <option value="VARIABEL">Variabel</option>
                    </select>
                </div>

            </div>

        </div>
        <!-- Fortjeneste -->

        <!-- Final box -->
        <div class="tilbud-box-end guac-text-center">

            <!-- Wave -->
            <div class="tilbud-wave-bottom">
                <img src="images/svg/tilbud-wave-bottom.svg">
            </div>

            <!-- Intro -->
            <p>Step 2</p>
            <h2 class="guac-text-center">Stykliste & Materialer</h2>
            <p>Brug for en custom løsning?</p>

            <!-- Stykliste wrapper -->
            <div class="stykliste-wrapper">

                <table class="stykliste-table">
                    <thead>
                    <tr>
                        <th>Materiale</th>
                        <th>Antal</th>
                        <th>Enhed</th>
                        <th>Enhedspris</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m : ${materials}">
                        <td th:text="${m.material.name}">Navn</td>
                        <td th:text="${m.amount}">Antal</td>
                        <td th:text="${m.material.unit}">Enhed</td>
                        <td th:text="${m.material.price}">0.0</td>
                        <td th:text="${m.totalPrice}">0.0</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- Stykliste wrapper -->

            <!-- Final Price Display -->
            <div class="tilbud-price-display guac-text-center guac-d-flex guac-flex-row guac-justify-evenly guac-align-center guac-p-3">
                <p>Original Pris<br>
                    <span id="tilbud-original-price" th:text="${total}"></span>
                </p>

                <p>Tilbuds pris<br>
                    <span id="tilbud-final-price" th:text="${total}"></span>
                </p>
            </div>
            <!-- Final Price Display -->

            <!-- Final button -->
            <button class="guac-btn-fog guac-btn-lg guac-mb-5" id="sendOfferBtn" th:attr="data-order-id=${orderId}">
                Afsend tilbud
            </button>

        </div>
        <!-- Final box -->

    </div>
</section>
<!-- Tilbud Section End -->

<!-- Notifications -->
<div id="guac-notification-container"></div>
<!-- Notifications -->

</body>
</html>